<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Qedis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>leveldb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>qbaselib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>qedislib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>qedismodule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>qunittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA34F6021D5C151700F1DE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4CD2181CEB54F000F68F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA90D86E19E79E6700B8E1F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BABEBED419C4474900010636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAD0C5D819E79FF7005B3784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADC7D7019D6BC700036858E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADC7D8119D6F6140036858E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAFC83FD19C44AE800C18B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
